name: Smoke Tests

on:
  pull_request:
    types: [opened, synchronize, reopened]
    paths: ['scanners/**']

jobs:
  github-action:
    name: Github Actions
    runs-on: ubuntu-latest
    steps:
      - name: Generate GitHub App Token
        id: github-token
        uses: actions/create-github-app-token@v1
        with:
          app-id: ${{ secrets.BOOST_SCAN_RUNNER_GITHUB_APP_ID }}
          private-key: ${{ secrets.BOOST_SCAN_RUNNER_GITHUB_APP_PRIVATE_KEY }}
          owner: your-org
          repositories: test-runner-github
      - name: Checkout scanner registry
        uses: actions/checkout@v4
        with:
          fetch-depth: 0  # Need full history to detect changes
      - name: Run Tests
        uses: boostsecurityio/scan-test-action@03526a5475206e034c62f3e2b8abafb9e8e15e85
        with:
          provider: github-actions
          provider-config: |
            {
              "token": "${{ steps.github-token.outputs.token }}",
              "owner": "boostsecurityio",
              "repo": "scan-test-runner-gitbub-actions",
              "workflow_id": "test-scanner.yml"
            }
          registry-repo: "${{ github.repository_owner }}/${{ github.event.repository.name }}"
          base-ref: "${{ github.head_ref }}"
