name: Smoke Tests
on:
  pull_request:
    types: [opened, synchronize, reopened]
    paths: ['scanners/**']
jobs:
  github-action:
    name: Github Actions
    runs-on: ubuntu-latest
    steps:
      - name: Checkout scanner registry
        uses: actions/checkout@v4
        with:
          fetch-depth: 0  # Need full history to detect changes
      - name: Run Tests
        uses: martin-boost-dev/boostsec-registry-test-action@2fe861851db9c121923d5aacb8e9121f7e655dff
        with:
          provider: github
          provider-config: |
            {
              "token": "${{ secrets.BOOST_GITHUB_TEST_RUNNER }}",
              "owner": "martin-boost-dev",
              "repo": "boostsec-registry-test-runner",
              "workflow_id": "test-scanner.yml"
            }
          registry-path: "."
          base-ref: "main"
          head-ref: "${{ github.head_ref }}"
