name: Smoke Tests

on:
  pull_request:
    types: [opened, synchronize, reopened]
    paths: ['scanners/**']

jobs:
  github-action:
    name: Github Actions
    uses: ./.github/workflows/smoke-test-runner.yaml
    with:
      provider: github
      provider-config: |
        {
          "token": "${{ secrets.BOOST_GITHUB_TEST_RUNNER }}",
          "owner": "martin-boost-dev",
          "repo": "boostsec-registry-test-runner",
          "workflow_id": "test-scanner.yml"
        }

  gitlab-action:
    name: Gitlab-ci
    uses: ./.github/workflows/smoke-test-runner.yaml
    with:
      provider: gitlab
      provider-config: |
        {
          "token": "${{ secrets.BOOST_GITLAB_TEST_RUNNER }}",
          "project_id": "boostsecurityio/martin/boostsec-registry-test-runner"
        }
